# MongoDB
MONGO_URI=mongodb+srv://dorrastonejewelry_db_user:7IUOZQdcJNosNM4I@dorra.9en5a5j.mongodb.net/dorra?appName=dorra

# Gmail
GMAIL_USER=dorrastonejewelry@gmail.com
GMAIL_PASS=tdqs hhia duma mhsj

# Paymob (fill in when you get from paymob.com)
PAYMOB_API_KEY=PASTE_YOUR_PAYMOB_API_KEY_HERE
PAYMOB_INTEGRATION_ID=PASTE_YOUR_INTEGRATION_ID_HERE
PAYMOB_IFRAME_ID=PASTE_YOUR_IFRAME_ID_HERE

# Server
PORT=3001
FRONTEND_URL=https://your-dorra-frontend.railway.app
ADMIN_SECRET=dorra2026admin
